body {
  background: rgba(167, 132, 19, 0.719);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  }

  .container {
    display: grid;
    height: 100vh;
    margin: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 80px);
  }

  .prof-div {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;
  }

  .profession {
    font-size: 6rem;
    font-weight: bold;
    align-self: stretch;
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .sub-profession {
    font-size: 2rem;
    justify-self: flex-end;
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .first-name {
    font-size: 3rem;
    align-self: end;
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .last-name {
    font-size: 12.5rem;
    font-weight: bolder;
    align-self: start;
    justify-self: start;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .city {
    font-size: 3rem;
    writing-mode: tb-rl;
    color: red;
    transform: rotate(180deg);
    align-self: start;
    justify-self: start;
    grid-column: -1;
    grid-row: 2 / 3;
  }

  .name-city {
    grid-column: 1 / 7;
    grid-row: 7 / 12;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 3fr;
  }

  .date-container {
    grid-column: -1 / -2;
    grid-row: 1 / 4;
  }

  .day {
    background-color: red;
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    font-size: 2rem;
    grid-column: -1 / -2;
    grid-row: 1;
  }

  .date {
    text-align: center;
    font-size: 5rem;
    grid-column: -1 / -2;
    grid-row: 2 / 3;
  }

  .month {
    background-color: red;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    padding-left: 5px;
    padding-right: 5px;
    grid-column: -1 / -2;
    grid-row: 3;
  }

  .link {
    text-align: justify;
    text-justify: inter-word;
    text-decoration: none;
    color: black;
  }

  .projects {
    border-bottom: 8px solid black;
    text-align: center;
    align-self: center;
    grid-column: -1 / -2;

  }
